.container {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.cards {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 0.5rem;
    align-items: stretch;
}

/* .cards >div:nth-child(1){
    grid-column: span 2;
} */