.container{
    margin-top: 50px;
}
.pagination{
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline;

}

.pagination li a {
    font-family: var(--font-family);
    color: #fff;
    background: var(--color-footer);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 2px solid var( --color-text);
    border-radius: 5px;
}

#active{
    background-color: #FF4820;
}

.pagination li a:hover{
    background-color: #FF4820;
}