@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zilla+Slab:ital,wght@1,700&display=swap');

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    color: white;
}

.navbar_links{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar_links_logo{
    margin-right: 2rem;
}

.navbar_links_logo a{
    font-family: 'Zilla Slab', serif;
    font-size: 2rem;
}

.navbar_links_container{
    display: flex;
    flex-direction: row;
}

.navbar_links_container a{
    color: white;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}